<div class="p-4 d-flex align-items-center justify-content-center">
    <div class="p-2">
        <a routerLink="/problem-one" class="p-2 m-2 bg-primary text-dark">Solution - 1</a>
        <a routerLink="/problem-two" class="p-2 m-2 bg-primary text-dark">Solution - 2</a>
        <a routerLink="/problem-three" class="p-2 m-2 bg-primary text-dark">Solution - 3</a>
        <a routerLink="/problem-four" class="p-2 m-2 bg-primary text-dark">Solution - 4</a>
    </div>
</div>
<router-outlet></router-outlet>