<h3 class="text-center mt-2">
    <strong>Solution-4:</strong>
</h3>
<div class="d-flex align-items-center justify-content-center p-4">
    <div class="problem-four-container">
        <div class="d-flex justify-content-between">
            <app-corner-one [updatedTextValue]="updatedTextValue"></app-corner-one>
            <app-corner-two [updatedTextValue]="updatedTextValue"></app-corner-two>
        </div>
        <app-center-one (textValueEmitted)="newValueEmitted($event)"></app-center-one>
        <div class="d-flex justify-content-between">
            <app-corner-three [updatedTextValue]="updatedTextValue"></app-corner-three>
            <app-corner-four [updatedTextValue]="updatedTextValue"></app-corner-four>
        </div>
    </div>
</div>